html, body {
  background-color: #21232A;
  color: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 2rem;
  text-align: center;
}

h2 {
  display: inline-block;
}

button {
  font-size: 1.3rem;
  margin: 0 16px;
}